:root{
    --corner-radius: 20px;
    --lateral-margin: 20px;
    --card-height: 300px;
    --expanded-card-height: 600px;

    --expo-out : cubic-bezier(0.83, 0, 0.17, 1);
    --transition-duration: .4s;
}

body{
    margin: 0px;
}

.card-holder{
    background-color: darkgreen;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.card{
    margin: 0 var(--lateral-margin) 0 var(--lateral-margin);
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
}

.outer-wrap{
    display: grid;
    grid-template-columns: 45% 55%;
    
    border-radius: var(--corner-radius);
    /* border-color: black;
    border-style: solid; */
}
.expanded-card{
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    overflow: hidden;
    max-height: 0;
    transition: max-height var(--transition-duration) var(--expo-out);
    /* height: var(--card-height); */

    border-radius: 0 0 var(--corner-radius) var(--corner-radius); /*2 bottom corners*/
}

.button-container{
    background-color: darkslateblue;
    
    border-radius: 0 0 10px 10px; /*2 bottom corners*/
    width: 90px;
    margin: auto 19% auto auto;
}

.expand-button{
    margin: auto;
    display: flex;
    width: 40px;
    margin: 5px auto 5px auto;

    transition: transform .6s var(--expo-out);
}

.expanded-text{
    margin: 20px;
    background-color: aquamarine;
}


.image-post{
    border-radius: var(--corner-radius) 0 0 var(--corner-radius); /*2 corners on left*/
    grid-column: 1;
    grid-row: 1;
    
    height: var(--card-height);
    width: 100%;
    object-fit: cover;
    
    transition: border-radius .5s;
}

.image-post-expanded{
    border-radius: var(--corner-radius) 0 0 0; /*top left corner*/
}

.text-post{
    border-radius: 0 var(--corner-radius) var(--corner-radius) 0; /*2 corners on right*/
    grid-column: 2;
    grid-row: 1;
    text-overflow: clip;

    width: fit-content;
    
    padding: 0 12px 20px 20px;
    
    background-color: aqua;
    
    transition: border-radius .5s;
}

.text-post p{
    font-size: large;
}

.text-post-expanded{
    border-radius: 0 var(--corner-radius) 0 0; /*top right corner*/
}

.badge-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 20%;
}

.badge{
    background-color: mediumaquamarine;
    border-radius: 4px;
    padding: 2px;
    box-shadow: -1px 1px 3px;
}

@media (max-width: 600px)
{    
    .outer-wrap{
        grid-template-columns: 100%;
    }


    .text-post{
        border-radius: 0 0 var(--corner-radius) var(--corner-radius); /* 2 bottom corners */
        grid-column: 1;
        grid-row: 2;
        transition: border-radius .5s;
    }
    
    .text-post-expanded{
        border-radius: 0 0 0 0; /* none */
        grid-column: 1;
        grid-row: 2;
    }


    .image-post{
        border-radius: var(--corner-radius) var(--corner-radius) 0 0; /* 2 top corners */
        width: 100%;
        height: auto;

        object-fit: cover;

        transition: border-radius .5s;
    }
    
    .image-post-expanded{
        border-radius: var(--corner-radius) var(--corner-radius) 0 0; /* 2 top corners */
        width: 100%;
        height: auto;
    }

    .button-container{
        margin-left: auto;
        margin-right: auto;
    }
}