---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- contains all the cards -->
		<div class="card-holder">

			<!-- one card -->
			<div class="outer-wrap">
				<img src="thumbnail.png" alt="img4" class="image-post">
				<div class="text-post">
					<h3>Archimancers</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facilis earum illo iusto beatae asperiores sed quae dignissimos vel quibusdam harum provident animi, dolore aliquam voluptatum molestias eaque ducimus. Alias?</p>
				</div>
			</div>
			
			<!-- another card -->
			<div class="outer-wrap">
				<img src="thumbnail.png" alt="img4" class="image-post">
				<div class="text-post">
					<h3>Archimancers</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facilis earum illo iusto beatae asperiores sed quae dignissimos vel quibusdam harum provident animi, dolore aliquam voluptatum molestias eaque ducimus. Alias?</p>
				</div>
			</div>

		</div>
	</body>
</html>
