---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<div class="header">
			<div class="header-content">
				<div>
					<p class="name-title">MARTIN JOUEN</p>
					<p class="job-title">Developpeur Gameplay</p>
				</div>
				<div class="links">
					<div>
						<img src="mail.svg" alt="">
						<a href="mailto:martin@clarimo.xyz">martin@clarimo.xyz</a>
						<!-- <button onclick="copyMail()" class="copy-button">
							<img src="copy-icon.png" alt="">
							<span class="tooltip">Copié !</span>
							</button> -->
					</div>
					<div>
						<img src="itch.svg" alt="">
						<a href="https://silverink.itch.io/">SilverInk</a>
					</div>
					<div>
						<img src="linkedin.svg" alt="">
						<a href="https://www.linkedin.com/in/martin-jouen/">Martin Jouen</a>
					</div>
				</div>
			</div>
		</div>
				
		<div style="margin-top: 7%;" />


		<!-- contains all the cards -->
		<div class="card-holder">

			<!-- one card -->
			<div class="card">
				<div class="outer-wrap">
					<img src="thumbnail.png" alt="img4" class="image-post">
					<div class="text-post">
						<h2>Archimancers</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facilis earum illo iusto beatae asperiores sed quae dignissimos vel quibusdam harum provident animi, dolore aliquam voluptatum molestias eaque ducimus. Alias?</p>
						<div class="badge-container">
							<span class="badge">
								Unity
							</span>
							<span class="badge">
								Game-Design
							</span>
							<span class="badge">
								Pixel Art
							</span>
						</div>
					</div>
				</div>
				<div class="expanded-card">
					<p class="expanded-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit accusamus obcaecati fugiat quidem dicta ea aliquid dolorum quis impedit, rem labore, cupiditate repellendus minima doloribus, et quibusdam esse consequatur?
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit accusamus obcaecati fugiat quidem dicta ea aliquid dolorum quis impedit, rem labore, cupiditate repellendus minima doloribus, et quibusdam esse consequatur?
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit accusamus obcaecati fugiat quidem dicta ea aliquid dolorum quis impedit, rem labore, cupiditate repellendus minima doloribus, et quibusdam esse consequatur?
					</p>
				</div>
				<div class="button-container">
					<img src="arrow.png" class="expand-button" >
				</div>
			</div>
			
			<!-- another card -->
			<div class="card">
				<div class="outer-wrap">
					<img src="miicraft1.png" alt="img4" class="image-post">
					<div class="text-post">
						<h3>Miicraft</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facilis earum illo iusto beatae asperiores sed quae dignissimos vel quibusdam harum provident animi, dolore aliquam voluptatum molestias eaque ducimus. Alias?</p>
					</div>
				</div>
				<div class="expanded-card">
					<p class="expanded-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit accusamus obcaecati fugiat quidem dicta ea aliquid dolorum quis impedit, rem labore, cupiditate repellendus minima doloribus, et quibusdam esse consequatur?
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit accusamus obcaecati fugiat quidem dicta ea aliquid dolorum quis impedit, rem labore, cupiditate repellendus minima doloribus, et quibusdam esse consequatur?
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit accusamus obcaecati fugiat quidem dicta ea aliquid dolorum quis impedit, rem labore, cupiditate repellendus minima doloribus, et quibusdam esse consequatur?
					</p>
				</div>
				<div>
					<img src="arrow.png" class="expand-button" >
				</div>
			</div>
			
		</div>

		<div style="margin-top: 7%;" />

	</body>
</html>

<script>
function copyMail(){
	navigator.clipboard.writeText('martin@clarimo.xyz');
	console.log("copied !")
}

var buttons = document.getElementsByClassName("expand-button");
var i;

for (i = 0; i < buttons.length; i++) {
buttons[i].addEventListener("click", function() {
	// this.classList.toggle("active");
	var buttonContainer = this.parentElement;
	var expandContent = buttonContainer?.previousElementSibling;
	var card = expandContent?.previousElementSibling;
	var image = card?.firstElementChild;
	var text = card?.lastElementChild;

	image.classList.toggle("image-post-expanded")
	text.classList.toggle("text-post-expanded")
	if (expandContent.style.maxHeight){
		// shrinked
		this.style.transform = "rotate(0deg)";
		expandContent.style.maxHeight = null;
	} else {
		// expanded
		this.style.transform = "rotate(180deg)";
		expandContent.style.maxHeight = expandContent.scrollHeight + 30 + "px";
	} 
});
}
</script>


