---
import Card from '../layouts/card.astro';
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Martin Jouen</title>
	</head>
	<body>

		<div class="header">
			<div class="header-content">
				<div>
					<p class="name-title">MARTIN JOUEN</p>
					<p class="job-title">Developpeur Gameplay</p>
				</div>
				<div class="links">
					<div>
						<img src="/mail.svg" alt="">
						<a href="mailto:martin@clarimo.xyz">martin@clarimo.xyz</a>
						<!-- <button onclick="copyMail()" class="copy-button">
							<img src="copy-icon.png" alt="">
							<span class="tooltip">Copié !</span>
							</button> -->
					</div>
					<div>
						<img src="/itch.svg" alt="">
						<a href="https://silverink.itch.io/">SilverInk</a>
					</div>
					<div>
						<img src="/linkedin.svg" alt="">
						<a href="https://www.linkedin.com/in/martin-jouen/">Martin Jouen</a>
					</div>
				</div>
			</div>
		</div>
				
		<div style="margin-top: 7%;" />


		<!-- contains all the cards -->
		<div class="card-holder">

			<Card Title="Archimancers"
				Thumbnail="/archimancers/thumbnail.png"
				Description="Un jeu en 2v2 asymétrique. Deux joueurs contrôlent des mages qui doivent s'échapper d'un labyrinthe, et les autres placent des pièges pour les en empêcher."
				Badges= {["Unity", "Game Design", "Pixel Art"]}>

				<h4>Conception</h4>
				<p>
					Le jeu a été réalisé dans le cadre d'un cours à l'UQAC, dans une équipe de 5 programmeurs, et sur une durée de 2 mois.
					Même si le jeu n'a pas d'élément technique très sofistiqué, il a demandé beaucoup de refléxion sur le gameplay et l'équilibrage entre les deux modes de jeu. Aussi, j'ai réalisé 80% des assets graphiques sur mesure en plus de travailler sur les autres aspects du jeu, comme l'UI, les curseurs, et la conception du gamplay.
				</p>

				<p>
					Le jeu était ambitieux par rapport au temps prévu pour le projet et de nos moyen techniques. Il possède quelques défaults : mérite de plus d'équilibrage, le concept du jeu est un peu trop stratégique pour des manches aussi courtes. Malgré cela, ce projet reste réussi, car il est fun à jouer, est soigné visuellement et est polish.
				</p>

				<h4>Principes du jeu</h4>
				<p>
					Dans Archimancers, vous expérimentez deux face d’une même pièce : ramasser des clés et
					utiliser vos pouvoirs en tant que mage pour s’échapper du labyrinthe, ou incarner des pièges et les
					activer de manière stratégique afin de ralentir la progression des mages en tant qu’esprit ! Entre
					chaque round, vous échangez de rôles... Des bonus sont présent si vous avez perdu au round pré-
					cédent, l’intensité sera au rendez-vous !
				</p>
				<p>
					Le jeu se joue en manches rapides d'une minute, et les rôles sont redistribués à chaque fois. 
				</p>

				<iframe frameborder="0" src="https://itch.io/embed/3650408?border_width=3&amp;bg_color=526571&amp;link_color=6bddc1" width="556" height="171"><a href="https://lys15.itch.io/archimancers">Archimancers by ly.s15, Sherlock1010, Rsqd, SilverInk, Nimportnawak</a></iframe>

				<img src="archimancers/archimancers1.png" alt="">
				<img src="archimancers/archimancers2.png" alt="">
				<img src="archimancers/archimancers3.png" alt="">
			</Card>


			<Card Title="Miicraft"
				Thumbnail="/miicraft/thumbnail.png"
				Description="Le célébre jeu Minecarft mais recréé sur la Wii."
				Badges= {["C++", "Wii", "Retro ingeenering"]}>
				<p>
					Miicraft vise à ressembler à la version alpha de Minecraft, en tout cas en terme de fonctionnalités, avec de la génération procédurale comprenant une dizaine de biomes, un système de d’inventaire et de craft, des controles qui exploitent les capacitées de la WiiMote (pointeur et secousses de la manette), et ce jusqu’à 4 joueur en local sur la meme partie !
				</p>
				
				<p>
					Projet de groupe de fin d’année, il a fallu faire des choix de design pour s’adapter aux contraintes techniques de la console. A savoir seulement 88 Mo de RAM et un processeur mono coeur. Pour un jeu comme minecraft, nous avons du faire quelques concessions, et surtout beaucoup d’optimisations.
				</p>
				<img src="/miicraft/blocks.png" alt="">
				<p>
					Sur ce projet de 5 personnes, j’ai travaillé sur de nombreux aspects du jeu, mais j’ai essentiellement développé ceux qui suivent :
				</p>
				<p>
					Gestion des blocks en mémoire : Optimastion du monde en chunk de manière à prendre le moins de ram possible sur la console afin de maximiser la taille du monde affichable. Le tout en fournissant une interface facile utiliser pour le reste du projet.
					J’ai aussi rajouté la sauvegarde du jeu, bien qu’elle n’ai pas été utlisée au final par manque de temps.
				</p>
				<img src="/miicraft/inventory.png" alt="">
				<img src="/miicraft/mclight.png" alt="">

				<p>
					Génération du monde : Algorithme de génération du terrain grâce à plusieurs couches de bruit (Perlin, Simplex …)
				</p>
				
				<p>
					L’objectif était d’obtenir un relief cohérent et suffisament varié pour donner envie au joueur d’explorer, et que les pentes ne soient pas trop raides pour que le voyage reste fluide.
				</p>
				
				<p>
					J’ai également géré la génération des structures comme les arbres ou bâtiments et leur cohérence avec le biome. Cette partie s’est révélé être plus compliqué que prévue car il faut s’assurer ce que les structures ne se superposent pas, et qu’elle ne soit pas à cheval sur plusieurs chunks.
				</p>
				<div class="gallery">
					<img src="/miicraft/mc1.png" alt="">
					<img src="/miicraft/mc2.png" alt="">
					<img src="/miicraft/mc3.png" alt="">
					<img src="/miicraft/mc4.png" alt="">
					<img src="/miicraft/mc5.png" alt="">
					<img src="/miicraft/mc6.png" alt="">
				</div>
			</Card>

			<Card Title="Randonnade"
				Thumbnail="/randonnade/thumbnail.png"
				Description="Un platformeur 3D à deux joueurs coopératif. Les deux personnages ont des capacités différentes, et sont introduite au fur et à mesure des niveaux."
				Badges= {["Unreal Engine", "GLSL", "Level Design"]}>
				<iframe frameborder="0" src="https://itch.io/embed/3635581?border_width=3&amp;bg_color=526571&amp;link_color=6bddc1" width="552" height="167">
					<a href="https://uqac.itch.io/randonnade">Randonnade by UQAC</a>
				</iframe>
				<img src="randonnade/Randonnade_1.PNG" alt="">
				<img src="randonnade/Randonnade_2.PNG" alt="">
				<img src="randonnade/Randonnade_3.PNG" alt="">
				<img src="randonnade/Randonnade_4.PNG" alt="">
				<img src="randonnade/Capture_menu.png" alt="">
			</Card>

			<Card Title="Moteur physique"
				Thumbnail="/moteur_physique/thumbnail.png"
				Description="Un moteur physique codé en C++, avec des RigidBodies et des ressorts."
				Badges= {["C++"]}>
				<p>
					Ce moteur physique codé en C++ avec la librairy graphique OpenFramework, permet de faire collisionner des boites de différentes tailles (grâce au Separating Axis Theorem)
				</p>
				<img src="moteur_physique/physique.png" alt="">
				<p>
					Les collisions sont restreintes grâce à un Octree, ainsi que des volumes englobant, qui premettent de minimiser le nombre de collisions à tester.
				</p>
			</Card>

			<Card Title="Shader Raymarching"
				Thumbnail="/raymarching/thumbnail.png"
				Description="Shader en raymarching avec de la transparence et de la refraction"
				Badges= {["GLSL", "Raymarching"]}>

				<a href="https://www.shadertoy.com/view/Nl2fWh">Lien vers le shader</a>
				 
				<p>
					Ce shader se base sur du ray marching, un algorithme qui consiste à lancer des rayons pour chaque pixel à l’écran, les faisant se réfléchir sur les surfaces qu’ils rencontrent afin de simuler le chemin inverse de la lumière et obtenir la couleur finale à afficher sur le pixel
				</p>
				<p>
					La forme de l’oeuf est générée avec un diagramme de Voronoï, auquel de la refraction et refléxion sont ajoutés pour simuler la transparence.
				</p>
			</Card>
			
		</div>

		<div style="margin-top: 7%;" />

		<div id="fullpage" onclick="const fullPage = document.querySelector('#fullpage');fullPage?.classList.remove('fullscreen-mode');document.body.classList.remove('remove-scrolling'); "></div>
	</body>
</html>

<script>

var buttons = document.getElementsByClassName("expand-button");
var i;

for (i = 0; i < buttons.length; i++) {
buttons[i].addEventListener("click", function() {
	// this.classList.toggle("active");
	var arrow = this.firstElementChild;

	var fullCard = this.previousElementSibling;

	var expandContent = fullCard?.lastElementChild;

	var card = fullCard?.firstElementChild;
	var image = card?.firstElementChild;
	var text = card?.lastElementChild;

	image.classList.toggle("image-post-expanded")
	text.classList.toggle("text-post-expanded")
	if (expandContent.style.maxHeight){
		// shrinked
		arrow.style.transform = "rotate(0deg)";
		expandContent.style.maxHeight = null;
	} else {
		// expanded
		arrow.style.transform = "rotate(180deg)";
		expandContent.style.maxHeight = expandContent.scrollHeight + 30 + "px";
		// expandContent.style.maxHeight = "300px";
	} 
});
}

const imgs = document.querySelectorAll('.expanded-card img');
const fullPage = document.querySelector('#fullpage');

imgs.forEach(img => {
	img.addEventListener('click', function() {
		fullPage.style.backgroundImage = 'url(' + img.src + ')';
		fullPage?.classList.add("fullscreen-mode");
		document.body.classList.add("remove-scrolling");
	});
});
</script>